@page
@model S3_Security_System.Pages.EntranceTokens.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="text-center">Create Entrance Token</h1>
<hr />
<div class="row">
    <div class="text-center">
        <form method="post">
            <!--<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntranceToken.DateObtained" class="control-label"></label>
                <input asp-for="EntranceToken.DateObtained" class="form-control" />
                <span asp-validation-for="EntranceToken.DateObtained" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntranceToken.S3_Security_SystemUserId" class="control-label"></label>
                <select asp-for="EntranceToken.S3_Security_SystemUserId" class ="form-control" asp-items="ViewBag.S3_Security_SystemUserId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EntranceToken.AccessGranted" /> @Html.DisplayNameFor(model => model.EntranceToken.AccessGranted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EntranceToken.TimeOfEntry" class="control-label"></label>
                <input asp-for="EntranceToken.TimeOfEntry" class="form-control" />
                <span asp-validation-for="EntranceToken.TimeOfEntry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntranceToken.TimeOfExit" class="control-label"></label>
                <input asp-for="EntranceToken.TimeOfExit" class="form-control" />
                <span asp-validation-for="EntranceToken.TimeOfExit" class="text-danger"></span>
            </div>-->
            
            <div class="form-group">
                <input type="submit" value="Create Entrance Token" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
