@page
@model S3_Security_System.Pages.EntranceTokens.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="text-center">Create Entrance Token</h1>
<hr />
<div class="row">
    <div class="text-center">
        <form method="post">
            
            <div class="form-group">
                <input type="submit" value="Create Entrance Token" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
