@page
@model S3_Security_System.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="text-center">Manage</h1>

<div class="text-center">

    <div>
        <a class="nav-link text-dark" asp-area="" asp-page="./Staffs/Index">
            <button type="button" class="btn btn-primary btn-lg btn-block">Maintain Staff</button>
        </a>
    </div>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-page="./Students/Index">
            <button type="button" class="btn btn-primary btn-lg btn-block">Maintain Students</button>
        </a>
    </div>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-page="./Visitors/Index">
            <button type="button" class="btn btn-primary btn-lg btn-block">Maintain Visitors</button>
        </a>
    </div>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-page="./Cities/Index">
            <button type="button" class="btn btn-primary btn-lg btn-block">Maintain Cities</button>
            </a>
     </div>
        <div>
        <a class="nav-link text-dark" asp-area="" asp-page="./Provinces/Index">
            <button type="button" class="btn btn-primary btn-lg btn-block">Maintain Provinces</button>
            </a>
    </div>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-page="./Positions/Index">
            <button type="button" class="btn btn-primary btn-lg btn-block">Maintain Positions</button>
            </a>
    </div>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-page="./Registors/Index">
            <button type="button" class="btn btn-primary btn-lg btn-block">Maintain Registers</button>
            </a>
    </div>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-page="./Breaches/Index">
            <button type="button" class="btn btn-primary btn-lg btn-block">Maintain Breaches</button>
            </a>
    </div>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-page="/BreachTypes/Index">
            <button type="button" class="btn btn-primary btn-lg btn-block">Maintain Breach Type</button>
            </a>
    </div>


    
</div>
