@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Microsoft.AspNetCore.Identity
@using S3_Security_System.Areas.Identity.Data

@inject SignInManager<S3_Security_SystemUser> SignInManager
@inject UserManager<S3_Security_SystemUser> UserManager

<div class="text-center">
    <h1 class="display-4">Welcome </h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <hr />
        <div>
            <a class="nav-link text-dark" asp-area="" asp-page="/EntranceTokens/Create">
                <button type="button" class="btn btn-primary btn-lg btn-block">Create Entrance Token</button>
            </a>
        </div>
        <div>
            <a class="nav-link text-dark" asp-area="" asp-page="/EntranceTokens/Edit">
                <button type="button" class="btn btn-primary btn-lg btn-block">Leave School Grounds</button>
            </a>
        </div>
        <hr />
        <div>
            <a class="nav-link text-dark" asp-area="" asp-page="/Breaches/Create">
                <button type="button" class="btn btn-primary btn-lg btn-block">Report Breach</button>
            </a>
        </div>
        <div>
            <a class="nav-link text-dark" asp-area="" asp-page="/Registors/Create">
                <button type="button" class="btn btn-primary btn-lg btn-block">Create Register</button>
            </a>
        </div>
        <hr />
        <div>
            <a class="nav-link text-dark" asp-area="" asp-page="/Reports/Index">
                <button type="button" class="btn btn-primary btn-lg btn-block">Reports</button>
            </a>
        </div>
    }
    else{
        <div>
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">
                <button type="button" class="btn btn-primary btn-lg btn-block">Login</button>
                </a>
            </div>
            <br />
          
        <div>
            <div>
                <a class="nav-link text-dark" asp-area="" asp-page="/Account/Register">
                    <button type="button" class="btn btn-primary btn-lg btn-block">Or Register As Visitor</button>
                </a>
            </div>
        </div>

    }
   
</div>
