@page
@model S3_Security_System.Pages.BreachTypes.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>BreachType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BreachType.BreachTypeName" class="control-label"></label>
                <input asp-for="BreachType.BreachTypeName" class="form-control" />
                <span asp-validation-for="BreachType.BreachTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreachType.BreachDesc" class="control-label"></label>
                <textarea asp-for="BreachType.BreachDesc" class="form-control"></textarea>
                <span asp-validation-for="BreachType.BreachDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
