@page
@model S3_Security_System.Pages.Visitors.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Visitor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">></label>
                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visitor.VisitorFirstName" class="control-label"></label>
                <input asp-for="Visitor.VisitorFirstName" class="form-control" />
                <span asp-validation-for="Visitor.VisitorFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visitor.VisitorLastName" class="control-label"></label>
                <input asp-for="Visitor.VisitorLastName" class="form-control" />
                <span asp-validation-for="Visitor.VisitorLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visitor.VisitReason" class="control-label"></label>
                <textarea asp-for="Visitor.VisitReason" class="form-control"></textarea>
                <span asp-validation-for="Visitor.VisitReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
